{% extends 'authenticate/base.html' %}
{% block content %}

<h1 class="text-center">change password</h1>
<form method="POST" action="{% url 'change_password' %}">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissable" role="alert">
    <button class="close" data-dismiss="alert">
      <small><sup>x</sup></small>
    </button>
        <p>Your form has errors.</p>
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    {% endif %}

{{ form.as_ul }}
<input type="submit" value="Change Password"class="btn btn-secondary">

</form>
{% endblock content %}